* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url(img/Inicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    justify-content: center;
    display: flex;
    align-items: center;
}

.header {
    background-color: rgb(180, 176, 176);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 150px;
    font-size: 32px;

}

projeto {
     display: flex;
     align-items:center;
     justify-content: center;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
    font-size: 32px;
    padding: 0;
}

.send {
    margin-left: 700px;
    float: right;
    margin-top: 400px;

}

a {
    color: #a10303;
}

.conteudo {
    display: flex;
    justify-content: space-between;
}